<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <%= "<script src='../vendor/jquery-#{@jquery_version}.js'></script>" %>
    <script src="/assets/javascripts/da-js.js"></script>
    <script>$.fx.off = true;</script>
  </head>
  <body>
    <h1>Test: Numeric Value</h1>
    <form>
      <input id="textfield">
    </form>
    <span id="non_input_element_english">   1,234.56   </span>
    <span id="non_input_element_german">  5.678,9   </span>
  </body>
</html>